{% extends '@SyliusShop/securityLayout.html.twig' %}

{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.register_in_the_store'|trans }} | {{ parent() }}{% endblock %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% block content %}


    <div class=" segment">
        <div class="ui two column very relaxed stackable grid">
            <div class="column aligned">

            </div>
            <div class="middle aligned column">
                {% include '@SyliusShop/Login/_header.html.twig' %}
                {% include '@SyliusShop/Login/_login.html.twig' %}
                <br>
                <div class="column">
                    <button class="ui large facebook button" href="#">
                        <i class="facebook icon"></i>
                        Facebook
                    </button>
                    <button class="ui large google plus button" href="#">
                        <i class="google icon"></i>
                        Google
                    </button>
                </div>
                <br>
                <div class="">
                    <a href="{{ path('sylius_shop_request_password_reset_token') }}" class="">{{ 'sylius.ui.forgot_password'|trans }}</a>
                    <br>
                    <a href="{{ path('sylius_shop_register') }}" class="">{{ 'sylius.ui.create_an_account'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="ui vertical"></div>
    </div>

{% endblock %}

