{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% if last_error %}
    {{ messages.error(last_error.messageKey|trans(last_error.messageData, 'security')) }}
{% endif %}

<div class="field">
    {{ form_row(form._username, sylius_test_form_attribute('login-username')) }}
</div>
<div class="field">
    {{ form_row(form._password, sylius_test_form_attribute('login-password')) }}
</div>
<div class="field">
    <div class="ui checkbox">
        {{ form_row(form._remember_me, sylius_test_form_attribute('remember-me')) }}
    </div>
</div>



