<h1 class="ui header">
    {#<i class="circular user icon"></i>#}
    <div class="content">
        {{ 'sylius.ui.customer_login'|trans }}
        {#<div class="sub header">{{ 'sylius.ui.access_your_store_account_or_create_a_new_one'|trans }}</div>#}
    </div>
</h1>
